<div class="envoltura">
  <div class="contenedor">
    <div class="cabecera">Historial de {{histories[0]?.nombrePaciente}}</div>
    <div class="cuerpo" *ngFor="let history of histories">
      <!-- <pre>{{history | json}}</pre> -->
      <div>Doctor: {{history.nombreDoctor}}</div>
      <div *ngFor="let log of history.log">
        <div>Log: {{log}}</div>
        <br />
      </div>
    </div>
    <div class="footer">
        <button routerLink="/dashboard">Atras</button>
        <button routerLink="/dashboard">Inicio</button>
      </div>
  </div>
</div>
