<div class="envoltura">
  <div class="contenedor">
      <div class="cabecera" >
        <p>Login</p>
      </div>

      <div class="cuerpo">
        <form (submit)="login()">
          <input type="text" name="user" placeholder="Usuario" autofocus required [(ngModel)]="user">
          <input type="password" name="pass" placeholder="Contraseña" [(ngModel)]="pass">
          <button id="boton" class="submit" type="submit">Login</button>
          <div *ngIf="error">{{error}}</div>
        </form>
      </div><!--fin cuerpo-->

      <div class="pie"> Medical center &#169; 2018 </div>
  </div><!-- fin contenedor -->
</div><!--fin envoltura-->