

<div class="envoltura">
  <div class="contenedor">
    <form class="contact_form" action="#" id="contact_form" runat="server" (submit)="registro()">
      <div>
        <ul>
          <div class="cabecera">
            <span>Introduzca sus datos *<span class="required_notification">Requerido</span></span>
          </div>
          <li>
            <label class="label3" for="role">¿Que rol de usuario desea crear?</label>
            <select name="role" size="1" [(ngModel)]="role" required>
              <option value="1"></option>
              <option value="admin">Administrador</option>
              <option value="technical">Tecnico</option>
              <option value="doctor">Medico</option>
              <option value="patient">Paciente</option>
            </select>
          </li>

          <li>
            <label for="name">UID*</label>
            <input type="text" name="uid" placeholder="Uid" [(ngModel)]="uid" required />
          </li>
          <li>
            <label for="name">Nombre*</label>
            <input type="text" name="name" placeholder="Nombre" [(ngModel)]="name" required />
          </li>
          <li>
            <label for="name">Apellidos</label>
            <input type="text" name="surname" placeholder="Apellidos" [(ngModel)]="surname" required>
          </li>
          <li>
            <label for="name">DNI*</label>
            <input type="text" name="dni" placeholder="DNI" [(ngModel)]="dni" required />
          </li>
          <li>
            <label for="name">Usuario*</label>
            <input type="text" name="username" placeholder="Usuario" [(ngModel)]="username" required />
          </li>
          <li>
            <label for="name">Contraseña*</label>
            <input type="password" name="pass" placeholder="Contraseña" [(ngModel)]="pass" required />
          </li>
          <li>
            <label class="label4">Al enviar este formulario, usted acepta nuestra <a href="#">politica de privacidad</a></label>
            <br />
            <br />
            <button class="submit" type="submit">Registrarse</button>
          </li>
          <div *ngIf="error">{{error}}</div>
        </ul>
        <div class="footer">
          <span>Powered by Enrique de Miguel Quinzá (C)2018</span>
        </div>
      </div>
    </form>
  </div>
</div>
