<!-- 
<form (submit)="registro()">
  <input type="text" name="role" placeholder="Rol" [(ngModel)]="role">
  <input type="number" name="uid" placeholder="Uid" [(ngModel)]="uid">
  <input type="text" name="name" placeholder="Nombre" [(ngModel)]="name">
  <input type="text" name="surname" placeholder="Apellidos" [(ngModel)]="surname">
  <input type="number" name="dni" placeholder="DNI" [(ngModel)]="dni">
  <input type="text" name="username" placeholder="Usuario" [(ngModel)]="user">
  <input type="password" name="pass" placeholder="Contraseña" [(ngModel)]="pass">
  <button type="submit">Registrarse</button>
  <div *ngIf="error">{{error}}</div>
</form>  -->

<!DOCTYPE html>
<html>

<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Formulario de creacion de contacto</title>
</head>

<body>
  <form class="contact_form" action="#" id="contact_form" runat="server" (submit)="registro()">
    <div>
      <ul>
        <li>
          <span class="required_notification">* Datos requeridos</span>
          <p></p>
        </li>

        <li>
          <label class="label2" for="role" [(ngModel)]="role">Que rol es usted</label>
          <br />
          <br />
          <select name="role" size="1">
            <option value="1"></option>
            <option value="admin">Administrador</option>
            <option value="technical">Tecnico</option>
            <option value="doctor">Medico</option>
            <option value="patient">Paciente</option>
          </select>
        </li>

        <li>
          <label for="name">UID*</label>
          <input type="number" name="uid" placeholder="Uid" [(ngModel)]="uid" required />
        </li>
        <li>
          <label for="name">Nombre*</label>
          <input type="text" name="name" placeholder="Nombre" [(ngModel)]="name" required />
        </li>
        <li>
          <label for="name">Apellidos</label>
          <input type="text" name="surname" placeholder="Apellidos" [(ngModel)]="surname">
        </li>
        <li>
          <label for="name">DNI*</label>
          <input type="number" name="dni" placeholder="DNI" [(ngModel)]="dni" required />
        </li>
        <li>
          <label for="name">Usuario*</label>
          <input type="text" name="username" placeholder="Usuario" [(ngModel)]="user" required />
        </li>
        <li>
          <label for="name">Contraseña*</label>
          <input type="password" name="pass" placeholder="Contraseña" [(ngModel)]="pass" required />
        </li>
        <li>
          <input class="input2" type="checkbox" name="1" required value="primer_checkbox">
          <label class="label4" for="cbox1">*Acepto los términos y las condiciones de privacidad </label>
          <br />
          <br />
          <label class="label4">Al enviar este formulario, usted acepta nuestra politica de privacidad.</label>
        </li>

        <li>
          <button class="submit" type="submit">Registrarse</button>
        </li>
        <div *ngIf="error">{{error}}</div>
      </ul>
      <span>Powered by Enrique de Miguel Quinzá</span>
    </div>
  </form>
</body>

</html>
