<div class="envoltura">
  <div class="contenedor">
    <div class="cabecera">Listado de Pacientes</div>
    <div class="cuerpo" *ngFor="let patient of patients" routerLink="/patient/{{patient.uid}}">
      <!-- <pre>{{patient.name}} {{patient.surname}} {{patient.dni}} </pre> -->
      <div>
        <p> Nombre:{{patient.name}}</p>
        <p> Apellidos:{{patient.surname}}</p>
        <p> DNI:{{patient.dni}}</p>
        <br />
      </div>
    </div>
    <div class="footer">
      <button (click)="goBack()">Atras</button>
      <button routerLink="/dashboard">Inicio</button>
    </div>
  </div>
</div>
