html {
  background: #e0f3fa;
  background-image: url("/src/assets/fondo.jpg");
  height:97vh;
  
}

.fondo {
  height:100vh;
  width:100vw;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,b6dffd+100 */
  background: #e0f3fa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e0f3fa 0%, #b6dffd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e0f3fa 0%, #b6dffd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e0f3fa 0%, #b6dffd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f3fa', endColorstr='#b6dffd', GradientType=0);
  /* IE6-9 */
  background-image: url("/src/assets/fondo.jpg");
}
