<p>
  Su rol es {{miRole}}, por lo tanto puede acceder a:
</p>
<button *ngIf="miRole==='admin'">Ficha</button><br>



<div>
  <a ></a>
  <button routelink="/patients" *ngIf="miRole==='admin'">Pacientes</button>
  <button routelink="/patient/{{miUid}}" *ngIf="miRole==='patient'">tu ficha</button>
  <button *ngIf="miRole==='admin'|| miRole==='doctor'" routelink="/patients">Historial</button>
  <button *ngIf="miRole==='admin'">Paciente</button>
  <button *ngIf="miRole==='admin'"></button>
  <button *ngIf="miRole==='admin'">Historial Clinico</button>
  <button *ngIf="miRole==='admin'"></button>
  <button *ngIf="miRole==='admin' || miRole==='technical'">Crear Paciente</button>
  <button *ngIf="miRole==='admin' || miRole==='technical'">Crear Medico</button>
  <button *ngIf="miRole==='admin' || miRole==='technical'">Crear tecnico</button>
</div>


<button (click)="logout()">Desconectarse</button>
